.about {
  padding: 105px 0 90px;
  &-title {
    text-align: center;
    margin: 0 0 45px 0;
    font-family: $font-header;
    font-size: 2rem;
    color: $color-dark;
  }
  &-progress {
    &__title {
      font-size: 1.125rem;
      font-family: $font-header
    }
    &__block {
      margin-bottom: 30px;
    }
  }
  p {
    font-family: $font-main;
    color: $color-gray;
  }
  &-progress-bar__danger {
    font-family: $font-main;
    background-color: $color-accent;
  }
}