.about {
  padding: 138px 0 122px;

  @include xl-min {
    padding: 105px 0 90px;
  }
  &-title {
    margin: 0 0 45px 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;
  }
  &-progress {
    &__title {
      font-family: $font-header;
      font-size: 1.125rem;
    }
    &__block {
      margin-bottom: 30px;
    }
  }
  p {
    color: $color-gray;

    font-family: $font-main;
  }
  &-progress-bar__danger {
    background-color: $color-accent;

    font-family: $font-main;
  }
}
