.about {
  @include lg-min {
    padding: ($gap * 7) 0 ($gap * 6);
  }
  @include lg-md {
    padding: ($gap * 7) 0 ($gap * 5);
  }
  @include md-sm {
    padding: ($gap * 6) 0 ($gap * 4);
  }
  @include sm {
    padding: ($gap * 6) 0 ($gap * 3);
  }
  &-title {
    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;

    @include lg-min {
      margin: 0 0 ($gap * 3) 0;
    }
    @include lg-md {
      margin: 0 0 38px 0;
    }
    @include md-sm {
      margin: 0 0 30px 0;
    }
    @include sm {
      margin: 0 0 23px 0;
    }
  }
  &-progress {
    margin-bottom: ($gap * 2);
    &:first-of-type {
      @include lg {
        margin-top: 3rem;
      }
    }
    &__title {
      color: $color-dark;

      font-family: $font-header;
      font-size: 1.125rem;
    }
  }
  p {
    color: $color-gray;

    font-family: $font-main;
  }
}
