.blog {
  min-height: 100vh;
  padding: 105px 0 90px;

  background-color: rgba($color-gray, 0.1);
  &__title {
    margin: 0 0 45px 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;
  }
  &__description {
    margin: 0 0 45px 0;

    text-align: center;

    color: $color-gray;

    font-family: $font-main;
  }
  &-row {
    padding: 0 15px;
  }
  &-item {
    &:hover,
    &:focus {
      .blog-item__content {
        transition: 0.3s;

        background-color: $color-accent;
      }
      .blog-item__title,
      .blog-item__date,
      .blog-item__description {
        transition: 0.3s;

        color: $color-light;
      }
      .blog-item__image img {
        transform: scale(1.25);
      }
    }
    &__block {
      padding: 0 0 !important;
    }
    &__link {
      &:hover {
        text-decoration: none;
      }
    }
    &__image {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;

        transition: transform 0.5s;

        object-fit: contain;
      }
    }
    &__content {
      height: 100%;
      padding: 15px;

      background-color: $color-light;
    }
    &__title {
      margin: 0 0 8px 0;

      color: $color-dark;

      font-family: $font-header;
      font-size: 1.125rem;
    }
    &__date {
      margin: 15px 0;

      color: rgba($color-gray, 0.87);

      font-family: $font-main;
      font-size: 0.875rem;
    }
    &__description {
      margin: 15px 0 0 0;

      color: $color-gray;

      font-family: $font-main;
      font-size: 0.875rem;
    }
  }
}
