.blog {
  min-height: 100vh;

  background-color: rgba($color-gray, 0.1);

  @include lg-min {
    padding: ($gap * 7) 0 ($gap * 6);
  }
  @include lg-md {
    padding: ($gap * 7) 0 ($gap * 5);
  }
  @include md-sm {
    padding: ($gap * 6) 0 ($gap * 4);
  }
  @include sm {
    padding: ($gap * 6) 0 ($gap * 3);
  }
  &__title {
    margin: 0 0 ($gap * 3) 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;

    @include lg-md {
      margin: 0 0 37px 0;
    }
    @include md-sm {
      margin: 0 0 30px 0;
    }
    @include sm {
      margin: 0 0 22px 0;
    }
  }
  &__description {
    margin: 0 0 ($gap * 3) 0;

    text-align: center;

    color: $color-gray;

    font-family: $font-main;

    @include md {
      margin: 0 $gap ($gap * 2) $gap;
    }
  }
  &-row {
    padding: 0 $gap;
  }
  &-item {
    &:hover,
    &:focus {
      .blog-item__content {
        transition: 0.3s;

        background-color: $color-accent;
      }
      .blog-item__title,
      .blog-item__date,
      .blog-item__description {
        transition: 0.3s;

        color: $color-light;
      }
      .blog-item__image img {
        transform: scale(1.25);

        filter: saturate(1.5);
      }
    }
    &__block {
      padding: 0 0 !important;
    }
    &__link {
      &:hover {
        text-decoration: none;
      }
    }
    &__image {
      overflow: hidden;
      img {
        width: 100%;

        transition: filter 0.5s, transform 0.5s;

        filter: saturate(0.75);
        @include md {
          margin-top: -10%;
          margin-bottom: -35%;
        }
        object-fit: contain;
      }
    }
    &__content {
      height: 100%;
      padding: $gap;

      background-color: $color-light;
    }
    &__title {
      margin: 0 0 8px 0;

      color: $color-dark;

      font-family: $font-header;
      font-size: 1.125rem;
    }
    &__date {
      margin: $gap 0;

      color: rgba($color-gray, 0.87);

      font-family: $font-main;
      font-size: 0.875rem;
    }
    &__description {
      margin: $gap 0 0 0;

      color: $color-gray;

      font-family: $font-main;
      font-size: 0.875rem;

      @include md {
        margin: $gap 0 ($gap * 2);
      }
    }
  }
}
