.contacts {
  color: $color-light;

  @include lg-min {
    padding: 105px 0 74px;
  }
  @include lg-md {
    padding: 104px 0 59px;
  }
  @include md-sm {
    padding: 90px 0 44px;
  }
  @include sm {
    padding: 90px 0 29px;
  }
  &__title {
    margin: 0 0 ($gap * 3) 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;

    @include lg-md {
      margin: 0 0 39px 0;
    }
    @include md-sm {
      margin: 0 0 30px 0;
    }
    @include sm {
      margin: 0 0 22px 0;
    }
  }
  &__description {
    margin: 0 0 ($gap * 3) 0;

    text-align: center;

    color: $color-gray;

    font-family: $font-main;

    @include md {
      margin: 0 0 ($gap * 2) 0;
    }
  }
}
