.features {
  // padding: 105px 0 114px;
  padding: 160px 0 122px;

  background-color: rgba($color-gray, 0.15);
  &__title {
    margin: 0 0 44px 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;
  }
  &__description {
    margin: 0 0 105px 0;

    text-align: center;

    color: $color-gray;

    font-family: $font-main;
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__description {
      text-align: center;
      span {
        color: $color-gray;

        font-family: $font-main;
        line-height: 20px;
      }
    }
    &__title {
      margin: 3px 0 7px 0;

      color: $color-dark;

      font-family: $font-header;
      font-size: 1.75em;
    }
    i {
      z-index: 10;

      color: $color-light;
      // position: absolute;

      font-size: 2rem;
    }
  }
  &__hexagon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 45px;
    margin-bottom: 80px;

    background-color: $color-accent;
    &:nth-of-type(2) {
      position: absolute;

      width: 79px;

      transform: rotate(60deg);
    }
    &:nth-of-type(3) {
      position: absolute;

      width: 79px;

      transform: rotate(-60deg);
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -25px;
    //   left: 0;
    //   width: 0;
    //   height: 0;
    //   border-left: 40px solid transparent;
    //   border-right: 40px solid transparent;
    //   border-bottom: 25px solid $color-accent;
    // }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: -25px;
    //   left: 0;
    //   width: 0;
    //   height: 0;
    //   border-left: 40px solid transparent;
    //   border-right: 40px solid transparent;
    //   border-top: 25px solid $color-accent;
    // }
  }
}
