.features {
  padding: 105px 0 90px;
  background-color: rgba($color-gray, 0.15);
  &__title {
    margin: 0 0 45px 0;
    text-align: center;
    font-size: 2rem;
    font-family: $font-header;
  }
  &__description {
    margin: 0 0 105px 0;
    text-align: center;
    color: $color-gray;
    font-family: $font-main;
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__description {
      text-align: center;
      span {
        font-family: $font-main;
        color: $color-gray;
        line-height: 20px;
      }
    }
    &__title {
      margin: 3px 0 7px 0;
      font-family: $font-header;
      font-size: 1.75em;
      color: $color-dark;
    }
    i {
      // position: absolute;
      font-size: 2rem;
      color: $color-light;
      z-index: 10;
    }
  }
  &__hexagon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 45px;
    background-color: $color-accent;
    margin-bottom: 80px;
    &:nth-of-type(2) {
      position: absolute;
      transform: rotate(60deg);
      width: 79px;
    }
    &:nth-of-type(3) {
      position: absolute;
      transform: rotate(-60deg);
      width: 79px;
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -25px;
    //   left: 0;
    //   width: 0;
    //   height: 0;
    //   border-left: 40px solid transparent;
    //   border-right: 40px solid transparent;
    //   border-bottom: 25px solid $color-accent;
    // }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: -25px;
    //   left: 0;
    //   width: 0;
    //   height: 0;
    //   border-left: 40px solid transparent;
    //   border-right: 40px solid transparent;
    //   border-top: 25px solid $color-accent;
    // }
  }
}