.gallery {
  min-height: 100vh;

  @include lg-min {
    padding: 105px 0 90px;
  }
  @include lg-md {
    padding: 105px 0 75px;
  }
  @include md-sm {
    padding: 90px 0 60px;
  }
  @include sm {
    padding: 89px 0 45px;
  }
  &__title {
    margin: 0 0 45px 0;

    text-align: center;

    color: $color-dark;

    font-family: $font-header;
    font-size: 2rem;

    @include lg-md {
      margin: 0 0 38px 0;
    }
    @include md-sm {
      margin: 0 0 30px 0;
    }
    @include sm {
      margin: 0 0 23px 0;
    }
  }
  &__description {
    text-align: center;

    color: $color-gray;

    font-family: $font-main;

    @include md-min {
      margin: 0 0 45px 0;
    }
    @include md {
      margin: 0 0 30px 0;
    }
  }
  &-content {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    // display: grid;
    // grid-template-areas: "a1 a2 a3 a4" "a5 a6 a7 a8";
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, minmax(210px, 33.33vh));
    // gap: 10px;
  }
  &-article {
    padding: 0 5px 10px 5px;

    @include sm {
      padding: 0 0 15px;
    }
  }
  &-item {
    &__wrapper {
      position: relative;

      overflow: hidden;

      min-height: 200px;
      max-height: 33.33vh;

      transition: transform 0.5s;
      &:hover,
      &:focus {
        .gallery-image {
          transform: scale(1.8);
        }
        .gallery-item__caption {
          h5 {
            bottom: 30px;

            transition: 0.5s;
          }
          i {
            top: 30px;

            transition: 0.5s;
          }
        }
      }
    }
    &__caption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &:hover,
      &:focus {
        transition: 0.5s;

        background-color: rgba($color-dark, 0.8);
      }
      h5 {
        position: absolute;
        bottom: -50px;

        display: block;

        width: 100%;
        margin: 0;

        text-align: center;

        color: $color-light;

        font-family: $font-header;
        font-size: 1.125rem;
        font-weight: 700;
      }
      i {
        position: absolute;
        top: -50px;
        left: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 45px;
        height: 45px;

        transform: translateX(-50%);

        color: $color-light;
        background-color: $color-accent;
      }
    }
  }
  &-image {
    width: 100%;

    transition: transform 0.5s;
    &:hover,
    &:focus {
      transform: scale(1.8);
    }
  }
}

// @for $i from 1 through 9 {
//   .gallery-item:nth-of-type(#{$i}) {
//     grid-area: a#{$i};
//   }
// }
