.carousel-item {
  position: relative;
}

.slide-title {
  font-family: $font-header;
  font-size: 1.75rem;
}

.slide-description {
  font-family: $font-main;
}

.slide-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.slide-overlay {
  @include abs-position;
}
