html {
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

body {
  position: relative;
}

.contacts--button {
  width: 100%;

  color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 0.3rem;

  font-family: $font-main;
  &:hover,
  &:focus {
    color: $color-light;
    background-color: $color-accent;
  }
}

.back2top {
  position: fixed;
  right: $gap;
  bottom: $gap;

  display: none;

  padding: 13px 15.5px 8px 15.5px;

  transition: 0.4s;

  opacity: 0.2;
  border-radius: 3px;
  background-color: $color-dark;

  font-size: 1rem;
  i {
    color: $color-light;
  }
  &:hover,
  &:focus {
    padding: 3px 15.5px 18px 15.5px;

    opacity: 1;
  }
}
