.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  transition: 0.5s;

  @include lg {
    background-color: rgba($color-dark, 0.85);
  }
  &-scroll {
    background-color: rgba($color-dark, 0.85);
    .active-link {
      .nav-link {
        color: $color-accent !important;
        text-shadow: 0 0 1px $color-accent;
        &::after {
          position: absolute;
          bottom: 10px;
          left: 0;

          width: 100%;
          height: 3px;

          content: "";

          background-color: $color-accent;
        }
      }
    }
  }
}
