.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  transition: 0.5s;

  @include lg {
    background-color: rgba($color-dark, 0.85);
  }
  &-scroll {
    background-color: rgba($color-dark, 0.85);
  }
}
