/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.navbar {
  padding: 15px 0;
  background: transparent;
}
.navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-collapse ul {
  margin-right: 0 !important;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fefefe !important;
}

.nav-item {
  padding: 0 7.5px;
}

.nav-link {
  position: relative;
  color: #fefefe !important;
  padding: 15px 7.5px !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.nav-link::after {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
}
.nav-link:hover::after {
  background-color: #fefefe;
  bottom: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header {
  position: relative;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

html {
  overflow-y: scroll;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.carousel-item {
  position: relative;
}

.slide-title {
  font-size: 1.75rem;
  font-family: "Roboto Slab", serif;
}

.slide-description {
  font-family: "Roboto", sans-serif;
}

.slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about {
  padding: 105px 0 90px;
}
.about-title {
  text-align: center;
  margin: 0 0 45px 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: #010101;
}
.about-progress__title {
  font-size: 1.125rem;
  font-family: "Roboto Slab", serif;
}
.about-progress__block {
  margin-bottom: 30px;
}
.about p {
  font-family: "Roboto", sans-serif;
  color: #545454;
}
.about-progress-bar__danger {
  font-family: "Roboto", sans-serif;
  background-color: #ee3b24;
}

.features {
  padding: 105px 0 114px;
  background-color: rgba(84, 84, 84, 0.15);
}
.features__title {
  margin: 0 0 45px 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
.features__description {
  margin: 0 0 105px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-item__description {
  text-align: center;
}
.features-item__description span {
  font-family: "Roboto", sans-serif;
  color: #545454;
  line-height: 20px;
}
.features-item__title {
  margin: 3px 0 7px 0;
  font-family: "Roboto Slab", serif;
  font-size: 1.75em;
  color: #010101;
}
.features-item i {
  font-size: 2rem;
  color: #fefefe;
  z-index: 10;
}
.features__hexagon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 45px;
  background-color: #ee3b24;
  margin-bottom: 80px;
}
.features__hexagon:nth-of-type(2) {
  position: absolute;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  width: 79px;
}
.features__hexagon:nth-of-type(3) {
  position: absolute;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  width: 79px;
}

.gallery {
  padding: 105px 0 90px;
  min-height: 100vh;
}
.gallery__title {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: #010101;
  margin: 0 0 45px 0;
}
.gallery__description {
  margin: 0 0 45px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #545454;
}
.gallery-content {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gallery-article {
  padding: 0 5px 10px 5px;
}
.gallery-item__wrapper {
  position: relative;
  min-height: 210px;
  max-height: 33.33vh;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.gallery-item__wrapper:hover .gallery-image, .gallery-item__wrapper:focus .gallery-image {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
.gallery-item__wrapper:hover .gallery-item__caption h5, .gallery-item__wrapper:focus .gallery-item__caption h5 {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  bottom: 30px;
}
.gallery-item__wrapper:hover .gallery-item__caption i, .gallery-item__wrapper:focus .gallery-item__caption i {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 30px;
}
.gallery-item__caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery-item__caption:hover, .gallery-item__caption:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(1, 1, 1, 0.8);
}
.gallery-item__caption h5 {
  margin: 0;
  display: block;
  position: absolute;
  bottom: -50px;
  text-align: center;
  color: #fefefe;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.125rem;
  width: 100%;
}
.gallery-item__caption i {
  top: -50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fefefe;
  background-color: #ee3b24;
  width: 45px;
  height: 45px;
}
.gallery-image {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
}
.gallery-image:hover, .gallery-image:focus {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}

.blog {
  padding: 105px 0 114px;
  background-color: rgba(84, 84, 84, 0.15);
  min-height: 100vh;
}