@charset "UTF-8";
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.navbar {
  padding: 15px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
}
.navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-collapse ul {
  margin-right: 0 !important;
}
.navbar-scroll {
  padding: 0;
}

.navbar-brand {
  color: #fefefe !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 7.5px;
}

.nav-link {
  position: relative;
  padding: 15px 7.5px !important;
  color: #fefefe !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  height: 3px;
  content: "";
}
.nav-link:hover::after {
  bottom: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #fefefe;
}

.form-control {
  font-family: "Roboto", sans-serif;
}

.navbar-light .navbar-toggler {
  border-color: rgba(254, 254, 254, 0.75);
}
.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.progress-bar {
  background-color: #ee3b24;
  font-family: "Roboto", sans-serif;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header-scroll {
  background-color: rgba(1, 1, 1, 0.85);
}
.header-scroll .active-link .nav-link {
  color: #ee3b24 !important;
  text-shadow: 0 0 1px #ee3b24;
}
.header-scroll .active-link .nav-link::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #ee3b24;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  position: relative;
}

.contacts--button {
  width: 100%;
  color: #ee3b24;
  border: 1px solid #ee3b24;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
}
.contacts--button:hover, .contacts--button:focus {
  color: #fefefe;
  background-color: #ee3b24;
}

.back2top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  padding: 13px 15.5px 8px 15.5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.2;
  border-radius: 3px;
  background-color: #010101;
  font-size: 1rem;
}
.back2top i {
  color: #fefefe;
}
.back2top:hover, .back2top:focus {
  padding: 3px 15.5px 18px 15.5px;
  opacity: 1;
}

.carousel-item {
  position: relative;
}

.slide-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
}

.slide-description {
  font-family: "Roboto", sans-serif;
}

.slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.about-title {
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.about-progress {
  margin-bottom: 30px;
}
.about-progress__title {
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
}
.about p {
  color: #545454;
  font-family: "Roboto", sans-serif;
}

.features {
  background-color: rgba(84, 84, 84, 0.15);
}
.features__title {
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.features__description {
  margin: 0 0 105px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-item__description {
  text-align: center;
}
.features-item__description span {
  color: #545454;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.features-item__title {
  margin: 3px 0 7px 0;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.75em;
}
.features-item i {
  z-index: 10;
  color: #fefefe;
  font-size: 2rem;
}
.features__hexagon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 45px;
  margin-bottom: 80px;
  background-color: #ee3b24;
}
.features__hexagon:nth-of-type(2) {
  position: absolute;
  width: 79px;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.features__hexagon:nth-of-type(3) {
  position: absolute;
  width: 79px;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.gallery {
  min-height: 100vh;
}
.gallery__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.gallery__description {
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.gallery-content {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.gallery-article {
  padding: 0 5px 10px 5px;
}
.gallery-article__wrapper {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  max-height: 33.33vh;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.gallery-article__wrapper:hover .gallery-image, .gallery-article__wrapper:focus .gallery-image {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
.gallery-article__wrapper:hover .gallery-article__caption h5, .gallery-article__wrapper:focus .gallery-article__caption h5 {
  bottom: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gallery-article__wrapper:hover .gallery-article__caption i, .gallery-article__wrapper:focus .gallery-article__caption i {
  top: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gallery-article__caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gallery-article__caption:hover, .gallery-article__caption:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(1, 1, 1, 0.8);
}
.gallery-article__caption h5 {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fefefe;
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: 700;
}
.gallery-article__caption i {
  position: absolute;
  top: -50px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fefefe;
  background-color: #ee3b24;
}
.gallery-image {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.gallery-image:hover, .gallery-image:focus {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}

.blog {
  min-height: 100vh;
  background-color: rgba(84, 84, 84, 0.1);
}
.blog__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.blog__description {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.blog-row {
  padding: 0 15px;
}
.blog-item:hover .blog-item__content, .blog-item:focus .blog-item__content {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #ee3b24;
}
.blog-item:hover .blog-item__title,
.blog-item:hover .blog-item__date,
.blog-item:hover .blog-item__description, .blog-item:focus .blog-item__title,
.blog-item:focus .blog-item__date,
.blog-item:focus .blog-item__description {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fefefe;
}
.blog-item:hover .blog-item__image img, .blog-item:focus .blog-item__image img {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}
.blog-item__block {
  padding: 0 0 !important;
}
.blog-item__link:hover {
  text-decoration: none;
}
.blog-item__image {
  overflow: hidden;
}
.blog-item__image img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.5s, -webkit-transform 0.5s;
  transition: -webkit-filter 0.5s, -webkit-transform 0.5s;
  -o-transition: filter 0.5s, transform 0.5s;
  transition: filter 0.5s, transform 0.5s;
  transition: filter 0.5s, transform 0.5s, -webkit-filter 0.5s, -webkit-transform 0.5s;
  -webkit-filter: saturate(0.75);
          filter: saturate(0.75);
  -o-object-fit: contain;
     object-fit: contain;
}
.blog-item__content {
  height: 100%;
  padding: 15px;
  background-color: #fefefe;
}
.blog-item__title {
  margin: 0 0 8px 0;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
}
.blog-item__date {
  margin: 15px 0;
  color: rgba(84, 84, 84, 0.87);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}
.blog-item__description {
  margin: 15px 0 0 0;
  color: #545454;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.advantages {
  background-color: rgba(84, 84, 84, 0.22);
}
.advantages-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.advantages__image {
  min-height: 100vh;
  background-position: 33% 50%;
  background-size: cover;
}
.advantages-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: 100vh;
  padding: 105px 15px 90px;
}
.advantages-content__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.advantages-content__text {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.advantages-content__block {
  padding: 0;
}
.advantages-item {
  margin: 0 0 15px 0;
}
.advantages-item > .row {
  margin: 0;
}
.advantages-item__icon {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: -6px;
  text-align: center;
  color: #ee3b24;
  font-size: 2.75rem;
}
.advantages-item__icon i {
  width: 60px;
}
.advantages-item__title {
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}
.advantages-item__text {
  color: #545454;
  font-family: "Roboto", sans-serif;
}

.contacts {
  color: #fefefe;
}
.contacts__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.contacts__description {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #272727;
  font-size: 0.875rem;
}
.footer-top {
  padding: 45px 0 30px;
}
.footer__title {
  color: #cbcbcb;
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
}
.footer__title::first-letter {
  color: #ee3b24;
}
.footer__list {
  padding-left: 30px;
  list-style: none;
}
.footer__item {
  position: relative;
  line-height: 1.45;
}
.footer__item::before {
  position: absolute;
  margin-left: -30px;
  content: "ïŒ‹";
  color: #b2b2b2;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.footer p {
  color: #adadad;
  font-family: "Roboto", sans-serif;
}
.footer a {
  color: #adadad;
  font-family: "Roboto", sans-serif;
}
.footer a:hover, .footer a:focus {
  text-decoration: none;
  color: #fefefe;
}
.footer-copyright {
  padding: 29px 0 30px;
  text-align: center;
  background-color: #333333;
}
@media (min-width: 768px) {
  .gallery__description {
    margin: 0 0 45px 0;
  }
}
@media (min-width: 992px) {
  .nav-link::after {
    left: 0;
    width: 100%;
  }
  .about {
    padding: 105px 0 90px;
  }
  .about-title {
    margin: 0 0 45px 0;
  }
  .features {
    padding: 105px 0 114px;
  }
  .features__title {
    margin: 0 0 45px 0;
  }
  .gallery {
    padding: 105px 0 90px;
  }
  .blog {
    padding: 105px 0 90px;
  }
  .contacts {
    padding: 105px 0 74px;
  }
}
@media (min-width: 1200px) {
  .advantages-content > .row {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 1199.8px) and (min-width: 992px) {
  .advantages-content > .row {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 991.8px) {
  .navbar {
    padding: 8px 0;
  }
  .navbar-scroll {
    padding: 8px 0;
  }
  .nav-link {
    text-align: center;
  }
  .nav-link::after {
    left: 25% !important;
    width: 50% !important;
  }
  .progress {
    height: 16px !important;
  }
  .header {
    background-color: rgba(1, 1, 1, 0.85);
  }
  .about-progress:first-of-type {
    margin-top: 3rem;
  }
  .advantages__image {
    display: none;
  }
}
@media (max-width: 991.8px) and (min-width: 576px) {
  .features article:nth-of-type(3) {
    margin-top: 84px;
  }
  .features article:nth-of-type(4) {
    margin-top: 84px;
  }
}
@media (max-width: 991.8px) and (min-width: 768px) {
  .about {
    padding: 105px 0 75px;
  }
  .about-title {
    margin: 0 0 38px 0;
  }
  .features {
    padding: 105px 0 99px;
  }
  .features__title {
    margin: 0 0 37px 0;
  }
  .gallery {
    padding: 105px 0 75px;
  }
  .gallery__title {
    margin: 0 0 38px 0;
  }
  .blog {
    padding: 105px 0 75px;
  }
  .blog__title {
    margin: 0 0 37px 0;
  }
  .advantages-container {
    max-width: 720px;
  }
  .advantages-content {
    padding: 105px 15px 75px;
  }
  .advantages-content__title {
    margin: 0 0 37px 0;
  }
  .advantages-item__icon {
    margin-top: -5px;
  }
  .contacts {
    padding: 104px 0 59px;
  }
  .contacts__title {
    margin: 0 0 39px 0;
  }
}
@media (max-width: 767.8px) {
  .features-item i {
    font-size: 1.5rem;
  }
  .features__hexagon {
    width: 68px;
    height: 38px;
    margin-bottom: 68px;
  }
  .features__hexagon:nth-of-type(2) {
    width: 66.5px;
  }
  .features__hexagon:nth-of-type(3) {
    width: 66.5px;
  }
  .features article:nth-of-type(2) {
    margin-top: 76px;
  }
  .features article:nth-of-type(3) {
    margin-top: 76px;
  }
  .features article:nth-of-type(4) {
    margin-top: 76px;
  }
  .features article:nth-of-type(4) .features-item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    text-align: center;
  }
  .gallery__description {
    margin: 0 0 30px 0;
  }
  .blog__description {
    margin: 0 15px 30px 15px;
  }
  .blog-item__image img {
    margin-top: -10%;
    margin-bottom: -35%;
  }
  .blog-item__description {
    margin: 15px 0 30px;
  }
  .advantages-content__text {
    margin: 0 0 30px 0;
  }
  .contacts__description {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767.8px) and (min-width: 576px) {
  .about {
    padding: 90px 0 60px;
  }
  .about-title {
    margin: 0 0 30px 0;
  }
  .features {
    padding: 90px 0 84px;
  }
  .features__title {
    margin: 0 0 30px 0;
  }
  .features__description {
    margin: 0 0 82px 0;
  }
  .gallery {
    padding: 90px 0 60px;
  }
  .gallery__title {
    margin: 0 0 30px 0;
  }
  .blog {
    padding: 90px 0 60px;
  }
  .blog__title {
    margin: 0 0 30px 0;
  }
  .advantages-container {
    max-width: 540px;
  }
  .advantages-content {
    padding: 90px 15px 60px;
  }
  .advantages-content__title {
    margin: 0 0 30px 0;
  }
  .contacts {
    padding: 90px 0 44px;
  }
  .contacts__title {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 575.8px) {
  .about {
    padding: 90px 0 45px;
  }
  .about-title {
    margin: 0 0 23px 0;
  }
  .features {
    padding: 90px 0 70px;
  }
  .features__title {
    margin: 0 0 22px 0;
  }
  .features__description {
    margin: 0 0 82px 0;
  }
  .gallery {
    padding: 89px 0 45px;
  }
  .gallery__title {
    margin: 0 0 23px 0;
  }
  .gallery-article {
    padding: 0 0 15px;
  }
  .blog {
    padding: 90px 0 45px;
  }
  .blog__title {
    margin: 0 0 22px 0;
  }
  .advantages-content {
    padding: 90px 15px 45px;
  }
  .advantages-content__title {
    margin: 0 0 23px 0;
  }
  .advantages-item__icon {
    margin-top: -2px;
    font-size: 2rem;
  }
  .advantages-item__icon i {
    width: 35px;
  }
  .contacts {
    padding: 90px 0 29px;
  }
  .contacts__title {
    margin: 0 0 22px 0;
  }
}