@charset "UTF-8";
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.navbar {
  padding: 15px 0;
  background: transparent;
}
.navbar-collapse {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-collapse ul {
  margin-right: 0 !important;
}

.navbar-brand {
  color: #fefefe !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 7.5px;
}

.nav-link {
  position: relative;
  padding: 15px 7.5px !important;
  color: #fefefe !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
}
.nav-link:hover::after {
  bottom: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #fefefe;
}

.form-control {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
}
.header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.contacts--button {
  border: 1px solid #ee3b24;
  color: #ee3b24;
  font-family: "Roboto Slab", serif;
}
.contacts--button:hover, .contacts--button:focus {
  background-color: #ee3b24;
  color: #fefefe;
}

.section__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.section__description {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}

.carousel-item {
  position: relative;
}

.slide-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
}

.slide-description {
  font-family: "Roboto", sans-serif;
}

.slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about {
  padding: 105px 0 90px;
}
.about-title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.about-progress__title {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
}
.about-progress__block {
  margin-bottom: 30px;
}
.about p {
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.about-progress-bar__danger {
  background-color: #ee3b24;
  font-family: "Roboto", sans-serif;
}

.features {
  padding: 105px 0 114px;
  background-color: rgba(84, 84, 84, 0.15);
}
.features__title {
  margin: 0 0 45px 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.features__description {
  margin: 0 0 105px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.features-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-item__description {
  text-align: center;
}
.features-item__description span {
  color: #545454;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}
.features-item__title {
  margin: 3px 0 7px 0;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.75em;
}
.features-item i {
  z-index: 10;
  color: #fefefe;
  font-size: 2rem;
}
.features__hexagon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 45px;
  margin-bottom: 80px;
  background-color: #ee3b24;
}
.features__hexagon:nth-of-type(2) {
  position: absolute;
  width: 79px;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.features__hexagon:nth-of-type(3) {
  position: absolute;
  width: 79px;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.gallery {
  min-height: 100vh;
  padding: 105px 0 90px;
}
.gallery__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.gallery__description {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.gallery-content {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.gallery-article {
  padding: 0 5px 10px 5px;
}
.gallery-item__wrapper {
  position: relative;
  overflow: hidden;
  min-height: 210px;
  max-height: 33.33vh;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.gallery-item__wrapper:hover .gallery-image, .gallery-item__wrapper:focus .gallery-image {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
.gallery-item__wrapper:hover .gallery-item__caption h5, .gallery-item__wrapper:focus .gallery-item__caption h5 {
  bottom: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gallery-item__wrapper:hover .gallery-item__caption i, .gallery-item__wrapper:focus .gallery-item__caption i {
  top: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gallery-item__caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gallery-item__caption:hover, .gallery-item__caption:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(1, 1, 1, 0.8);
}
.gallery-item__caption h5 {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fefefe;
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: 700;
}
.gallery-item__caption i {
  position: absolute;
  top: -50px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fefefe;
  background-color: #ee3b24;
}
.gallery-image {
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.gallery-image:hover, .gallery-image:focus {
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}

.blog {
  min-height: 100vh;
  padding: 105px 0 90px;
  background-color: rgba(84, 84, 84, 0.1);
}
.blog__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.blog__description {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.blog-row {
  padding: 0 15px;
}
.blog-item:hover .blog-item__content, .blog-item:focus .blog-item__content {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #ee3b24;
}
.blog-item:hover .blog-item__title,
.blog-item:hover .blog-item__date,
.blog-item:hover .blog-item__description, .blog-item:focus .blog-item__title,
.blog-item:focus .blog-item__date,
.blog-item:focus .blog-item__description {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fefefe;
}
.blog-item:hover .blog-item__image img, .blog-item:focus .blog-item__image img {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.blog-item__block {
  padding: 0 0 !important;
}
.blog-item__link:hover {
  text-decoration: none;
}
.blog-item__image {
  overflow: hidden;
}
.blog-item__image img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog-item__content {
  height: 100%;
  padding: 15px;
  background-color: #fefefe;
}
.blog-item__title {
  margin: 0 0 8px 0;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
}
.blog-item__date {
  margin: 15px 0;
  color: rgba(84, 84, 84, 0.87);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}
.blog-item__description {
  margin: 15px 0 0 0;
  color: #545454;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.advantages-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.advantages__image {
  min-height: 100vh;
  background-position: 33% 50%;
  background-size: cover;
}
.advantages-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: 100vh;
  padding: 105px 15px 90px;
  background-color: rgba(84, 84, 84, 0.2);
}
.advantages-content__title {
  margin: 0 0 45px 0;
  text-align: center;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}
.advantages-content__text {
  margin: 0 0 45px 0;
  text-align: center;
  color: #545454;
  font-family: "Roboto", sans-serif;
}
.advantages-content__block {
  padding: 0;
}
.advantages-item {
  margin: 0 0 15px 0;
}
.advantages-item > .row {
  margin: 0;
}
.advantages-item__icon {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: -6px;
  text-align: center;
  color: #ee3b24;
  font-size: 2.75rem;
}
.advantages-item__icon i {
  width: 60px;
}
.advantages-item__title {
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}
.advantages-item__text {
  color: #545454;
  font-family: "Roboto", sans-serif;
}

.contacts {
  padding: 105px 0 90px;
  color: #fefefe;
}

.footer {
  font-size: 0.875rem;
  background-color: #272727;
}
.footer-top {
  padding: 45px 0 30px;
}
.footer__title {
  color: #cbcbcb;
  font-size: 1.75rem;
  font-family: "Roboto Slab", serif;
}
.footer__title::first-letter {
  color: #ee3b24;
}
.footer__list {
  padding-left: 30px;
  list-style: none;
}
.footer__item {
  position: relative;
  line-height: 1.45;
}
.footer__item::before {
  position: absolute;
  margin-left: -30px;
  content: "ïŒ‹";
  color: #b2b2b2;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.footer p {
  color: #adadad;
  font-family: "Roboto", sans-serif;
}
.footer a {
  font-family: "Roboto", sans-serif;
  color: #adadad;
}
.footer a:hover, .footer a:focus {
  color: #fefefe;
  text-decoration: none;
}
.footer-copyright {
  padding: 29px 0 30px;
  text-align: center;
  background-color: #333333;
}
@media (min-width: 1200px) {
  .advantages-content > .row {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 1199.8px) and (min-width: 992px) {
  .advantages-content > .row {
    margin-right: 0;
    margin-left: 0;
  }
}